.leaflet-container {
  height: 600px;
  width: 1300px;
  background-color: $background;
  overflow:hidden;
  display: flex;
  float:left;
}

.map_information{
  // margin: 1% 1% 1% 1%;
  // padding: 0% 1% 1% 1%;
  width: 22%;
  height: 550px;
  float: right;
  // background: $grey;
  // border-radius: 25px; --> width: 18%
}

  .title{
    font-size: 1.3vw;
    font-weight: 400;
    font-family: 'roboto', serif;
    text-align: center;
    margin-top: 2%;
  }

  .category{
    font-size: 1vw;
    font-weight: 400;
    font-family: 'roboto', serif;
    font-style: italic;
    text-align: center;
    margin-top: -5%;
  }

.map_filter{
  // margin: 1% 1% 1% 1%;
  // padding: 0% 1% 1% 1%;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  background: $grey;
  // border-radius: 25px;
}
