html, body {
   height: 100%;
    background-color: $grey;
}

.leftside{
  width: 75%;
  height: 100%;
  // background-color: blue;
}

.leaflet-container {
  height: 600px;
  width: 100%;
  background-color: $background;
  // background-color: red;
  // overflow:hidden;
  // display: flex;
  float:left;
  // z-index:2;
}

.seawulf-client-control{
  // margin: 1% 1% 1% 1%;
  // padding: 0% 1% 1% 1%;
  width: 25%;
  height: 600px;
  float: right;
  align-content: center;
  // z-index: 1;
  background-color: white;
  // border-radius: 25px; --> width: 18%



  .slider-button{
    margin: 5% 2% 2% 2%;
    display: block;
  }

  .button{
    margin: 5% 2% 2% 2%;
    display: block;
    background: #3B2B59;
    color: white;
  }

  .submitButton{
    margin: 5% 2% 2% 2%;
    display: block;
    background: #3B2B59;
    color: white;
  }


  .cancelButton{
    margin: 5% 2% 2% 2%;
    display: block;
    background: #3B2B59;
    color: white;
  }

}

// .sliders{
//   width: 400px;
//   color: red;
// }
//
// .slidersInput{
//   width: 10%;
// }



.map-information{
  width: 20%;
  height: 40%;
  top: 60%;
  margin: 1% 1% 1% 1%;
  padding: 1% 1% 1% 1%;
  left: 80%;
  position:relative;
  background-color: #3B2B59;
  color: white;
  font-family: 'roboto', serif;
  border-radius: 10px;
  z-index:1000;
}

.reset-button{
  width: 10%;
  height: 5%;
  left: 2%;
  top: 50%;
  position:relative;
  padding: 0.2%;
  z-index: 1000;
  font-size: 1vw;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: #3B2B59;
  cursor: pointer;
}

.tab-content{
    background-color: white;
    padding: 0% 5% 0% 5%;
    overflow-y: scroll;
    height: 520px;
    // height: 100%;
    // overflow: hidden;
}

.tab-list {  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.jobs-list{
  // overflow-y: scroll;
  // overflow: hidden;
  // background-color: white;
  // height: 100%;

  // margin: 0% 5% 1% 5%;
}

.job-info{
  // padding: 2% 2% 2% 2%;
  border: solid #3B2B59;
  border-radius: 5px;
  line-height: 1;
  overflow: auto;
  // width: auto;
  margin-bottom:5%;
}

.currMap-Info{
  margin: 20px 10px 0px 10px;
  font-size: 0.8vw;
}


.job-request{
  padding-left:5%;
}

  .title{
    font-size: 1.3vw;
    font-weight: 700;
    font-family: 'roboto', serif;
    text-align: center;
    margin-top: 2%;
    color: $text-color
  }

  .category{
    font-size: 1.2vw;
    font-weight: 700;
    font-family: 'roboto', serif;
    // font-style: italic;
    text-align: left;
    margin-top: 0%;
    color: $text-color
  }

.map_filter{
  // margin: 1% 1% 1% 1%;
  // padding: 0% 1% 1% 1%;
  width: 100%;
  height: 50px;
  display: flex;
  // justify-content: center;
  background: $grey;
  // border-radius: 25px;

  .button-space{
    float: left;
    margin: 1% 2% 0% 2%;
  }

  .button{
    background-color: #3B2B59;
    // width: 150px;
    // height: 40px;
    float: left;
    margin: 1% 2% 0% 2%;
    text-decoration: none;
    border-color: transparent;
    border-radius: 5px;
    color: white;
  }


  .button:hover{
    background-color: #ADD8E6;
  }

  .special-button{
    background-color: $text-color;
  }
}

.leaflet-touch .leaflet-control-layers {
  border: none;
  background-color: #3B2B59;
  color: white;
  font-size: .8vw;
  visibility: hidden;
}

.noJobsText{
  visibility: visible;
}


.box-whisker-plot-section{
  // background: blue;
  // height: 500px;
  margin: 2% 2% 2% 2%;
}
